*{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    background-color: lightgray;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;

}



.heading{
    width: 100%;
    height:150px;
    display: flex;
    flex-direction: row;
    background-color: white;
    }

.col1{
    width:10%;
    height:100%;
    
}
.col2{
    width:55%;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    
}
.logo{
    width:100px;
    height:100px;
    margin:1px;
    padding:1px;
    box-sizing: border-box;
    border-width:50px;
    border-color: black;
    border-radius: 50%;
    background-color: blue;
}

.logo img{
    width:100%;
    height:100%;
    border-width:50px;
    border-color: black;
    border-radius: 50%;
    padding: 2px;
    box-sizing: content-box;
}

.logo2{
    width:100px;
    height:100px;
    justify-content: center;
}

.col2 h1{
    
    font-size: 50px;
    text-align: start;
    
    position: relative;
    bottom:30px;
    
}
.col2 h5{
    font-size: 20px;
    color: red;
    
    position: relative;
    bottom:120px;
    
}


nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 200, 255);
}
nav a{
 font-size: 20px;
 color: white;
 text-decoration: none;
 margin-right: 10px;
 opacity: 1;
 transition: 1s;
 margin-left:10px ;
}
nav a:hover{
    opacity:2;
    color: blue;
    transform: scale(1.3);
    
}
nav a.active{
    color: blue;
}

    
.boy{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.boy img{
    width:100%;
    height: 100%;
    
}

.menu-icons{
    font-size: larger;
    color: white;
}

.col3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;

    box-shadow: 0px 4px 8px gray;
    font-family: "Poppins", sans-serif ;
    
}
.unicef{
    width:200px;
    height: 160px;
    margin-right: 15px;
}
.quote2{
    font-size: 50px;
}
.quote{
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

edit{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.edit1{
    color: red; 
    text-align: center;
    font-size: 50px;
}

.edit2{
    font-size: 20px;
    text-align: center;
}

.slides{
    padding: 0px;
    margin: 0px;
    width: 100vh;
    height: 50vh;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(11, 88, 109);
    box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;
    margin-left: 25%;
}

.slide{
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0;
    inset:0;
    overflow: hidden;
    animation: slide-show 20s infinite linear;

    
}
.slide-1{
    animation-delay: -1s;
}
.slide-2{
    animation-delay: 5s;
}
.slide-3{
    animation-delay: 10s;
}
.slide-4{
    animation-delay: 15s;
}
.slide-5{
    animation-delay: 20s;
}

.slide img{
    width:100%;
    height:100%;
    align-self: center;
    object-fit: cover;
    object-position: center;

}

@keyframes slide-show {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%,60%{
        opacity: 0;
        scale: 1;
    }
    100%{
        opacity: 0;
    }

    
}

strong{
    color: rgb(12, 12, 86);
    font-style: oblique;
    font-size: xx-large;
}

.edit3{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    

}
.edit3 img:hover{
    transform: scale(1.3);

}

.edit3 img{
    width: 50%;
    height:90%;
    margin:2px;
    border: solid 2px rgb(11, 88, 109);
    background-color: darkblue;
    padding: 1px;
    box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;
    transition:1s;

}

.edit4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    
    
}

.edit5{
    width:50%;
    background-color: white;
    margin: 2px;
    border: solid 2px rgb(11, 88, 109);
    border-radius: 10%;
    box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;

}



ul li{
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    
}

.edit6{
    
    color: red;
    font-style: oblique;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    border: solid 2px darkred;
    box-shadow: 0px 4px 8px darkred;
    
}

.edit7{
    text-align: center;
}

.edit8{
    font-style: oblique;
    font-weight: bolder;
    color: green;
    font-family: cursive;
    text-align: center;
}
.edit8 p{
    transition: 1s;
}
.edit8 p:hover{
    transform: scale(1.3);
}

.edit9{
    width:50%;
    background-color: white;
    margin: 2px;
    border: solid 1px gray;
    box-shadow: 0px 4px 8px gray;
    transition: 1s;
}
.edit9:hover{
    transform: scale(1.3);
}

.edit10{
    font-style: oblique;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}


.edit11{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit11 p{
    text-align: center;
    font-weight: bolder;
    border: solid 2px darkblue;
    color: white;
    background-color: blue;
    padding: 10px;
    box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;
    margin-left: 40px;
    margin-right: 40px;
    transition: 1s;
}
.edit11 p:hover{
    transform: scale(1.3);
}


.container{
    max-width:800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 4px 8px gray;
    border-radius: 10px;
    font-family: cursive ;
    
}
.container p{
    transition: 1s;
}
.container p:hover{
    transform: scale(1.3);
}


.map-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 2px gray;
}
.map-container iframe{
    width:100%;
}
    
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a i:hover{
    color:white;
    transition: 0.5s;
}
.footerNav{
    margin:10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin:30px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity:1;
}
.footerBottom{
    background-color: #000;
    padding:20px;
    text-align: center;
}
.footerBottom p{
    color:white;
    text-align: center;
}
.designer{
    opacity:0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}




@media(max-width:1140px){

    .heading{
        width: 100%;
        height:50%;
        display: flex;
        flex-direction: row;
    
    }
    
    .col1{
        width:20%;
        height:20%;
    
    }
    .col2{
        width:75%;
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width:50px;
        height:50px;
        margin:0px;
        padding:0px;
        box-sizing: border-box;
        border-width:50px;
        border-color: black;
        border-radius: 50%;
        background-color: blue;
        justify-content: center;
    }
    
    .logo img{
        width:100%;
        height:100%;
        border-width:50px;
        border-color: black;
        border-radius: 50%;
        padding: 2px;
        justify-content: center;
    }
    
    .logo2{
        font-size: xx-small;
        width:20px;
        height:20px;
        justify-content: center;
        box-sizing: content-box;
    }
    
    .col2 h1{
        
        font-size: 25px;
        text-align: start;
        position: relative;
        bottom:10px;
        left:20px;
        
    }
    .col2 h5{
        font-size: 10px;
        color: red;
        position: relative;
        bottom:50px;
        left:20px;
    }
   
    
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(0, 200, 255);
    }
    nav a{
     font-size: 12px;
     color: white;
     text-decoration: none;
     margin-right: 30px;
    }
    .menu-icons{
        font-size: small;
        color: white;
    }
    
    .unicef{
        width:100px;
        height: 60px;
        margin-right: 15px;
    }
    .quote{
        font-size: 15px;
        text-align: center;
        font-style: italic;
    }
    .quote2{
        font-size: 20px;
    }
    edit{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .edit1{
        color: red; 
        text-align: center;
        font-size: medium;
    }

    .edit2{
        font-size: small;
        text-align: center;
    }

    .slides{
        width: 98%;
        height: 30vh;
        overflow: hidden;
        position: relative;
        border: 2px solid rgb(11, 88, 109);
        box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;
        margin-left: 0%;
    }

    .slide{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        inset:0;
        animation: slide-show 20s infinite linear;
        
    }
    .slide-1{
        animation-delay: -1s;
    }
    .slide-2{
        animation-delay: 5s;
    }
    .slide-3{
        animation-delay: 10s;
    }
    .slide-4{
        animation-delay: 15s;
    }
    .slide-5{
        animation-delay: 20s;
    }

    .slide img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: center;
    }

    @keyframes slide-show {
        0%{
            opacity: 0;
        }
        20%{
            opacity: 1;
        }
        40%,60%{
            opacity: 0;
            scale: 1;
        }
        100%{
            opacity: 0;
        }
    
       
    }

    strong{
        color: rgb(12, 12, 86);
        font-style: oblique;
        font-size: medium;
    }
    .edit3{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: space-evenly;


    }

    .edit3 img{
        width: 45%;
        height:90%;
        margin:2px;
        border: solid 2px rgb(11, 88, 109);
    }
    .edit4{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        
    }

    .edit5{
        width:50%;
        background-color: white;
        margin: 2px;
        border: solid 2px rgb(11, 88, 109);
        border-radius: 10%;
        box-shadow: 1px 2px 10px 2px rgb(11, 88, 109) ;

    }

    ul li{
        font-style: italic;
        font-weight: bold;
        font-size: small;
        
    }
    
    .edit6{
        color: red;
        font-style: oblique;
        font-size: medium;
        text-align: center;
        font-weight: bolder;
        text-decoration-line: underline;
        
    }
    
    .edit7{
        text-align: center;
    }
    
    .edit8{
        font-style: oblique;
        font-weight: bolder;
        color: green;
        font-family: cursive;
        text-align: center;
    }

    .edit10{
        font-style: oblique;
        font-family: cursive;
        text-align: center;
        font-size: x-small;
    }

    .container h1{
        font-size: medium;
        font-weight: bolder;
        font-family: cursive;
    }
    .footerNav{
        flex-direction: column;
    }
   
    .footerNav ul li a{
        color: white;
        margin:10px;
        text-decoration: none;
        font-size: 1em;
        opacity: 0.7;
        transition: 0.5s;
    }




    
}


